body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


table {
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}

